PORT=3000
SITE_URL=https://tpclub.com.au
TELEGRAM_URL=https://t.me/+VEugRODM7y5iNGY0
TELEGRAM_CHANNEL_URL=https://t.me/OfficialTPClub
BOOKING_URL=https://calendly.com/YOUR_BOOKING_LINK
YOUTUBE_URL=https://www.youtube.com/@TPClub
BITUNIX_REFERRAL_URL=https://www.bitunix.com/register?vipCode=TPclubJackman
