SITE_URL=https://tpclub.co
VITE_GTM_ID=GTM-MXWHXVKS
VITE_N8N_WEBHOOK=
VITE_TELEGRAM_URL=https://t.me/+5715hMkkOso3ZGY8
TELEGRAM_URL=https://t.me/+5715hMkkOso3ZGY8
TELEGRAM_CHANNEL_URL=https://t.me/OfficialTPClub
YOUTUBE_URL=https://www.youtube.com/@TPClub
BITUNIX_REFERRAL_URL=https://www.bitunix.com/register?vipCode=TPclubJackman

DASHBOARD_PASSWORD=
DASHBOARD_PASSWORD_HASH=
DASHBOARD_AUTH_USER_FILE=
DASHBOARD_PROJECT_ROOT=
DASHBOARD_REFRESH_COMMAND=npm run refresh:ads

GOOGLE_ADS_CUSTOMER_ID=
GOOGLE_ADS_DEVELOPER_TOKEN=
GOOGLE_ADS_CLIENT_ID=
GOOGLE_ADS_CLIENT_SECRET=
GOOGLE_ADS_REFRESH_TOKEN=

META_AD_ACCOUNT_ID=
META_ACCESS_TOKEN=
